USE [municipalities]
GO
/****** Object:  Table [dbo].[municipalities]    Script Date: 3. 12. 2019 00:04:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[municipalities](
	[OB_ID] [int] NOT NULL,
	[OB_NAME] [varchar](50) NOT NULL,
	[OB_UNAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[municipalities] ([OB_ID], [OB_NAME], [OB_UNAME]) VALUES (1, N'AJDOVŠČINA', N'Ajdovščina')
INSERT [dbo].[municipalities] ([OB_ID], [OB_NAME], [OB_UNAME]) VALUES (2, N'BELTINCI', N'Beltinci')
INSERT [dbo].[municipalities] ([OB_ID], [OB_NAME], [OB_UNAME]) VALUES (3, N'BLED', N'Bled')
GO
